/* =========================== */
/* ESTILO GERAL DA PÁGINA */
/* =========================== */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #00c4ff, #ffd900);
    margin: 0;
    padding: 0;
    color: #333;
}

/* Estilos para a Sidebar */
.sidebar {
    height: 100%;
    width: 250px; /* Largura da sidebar */
    position: fixed;
    top: 0;
    left: -250px; /* Oculta a sidebar inicialmente */
    background-color: #282c34; /* Cor de fundo da sidebar */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Sombra */
    overflow-x: hidden; /* Oculta o overflow horizontal */
    transition: 0.3s ease; /* Transição suave para abrir/fechar */
    padding-top: 20px; /* Espaçamento superior */
    z-index: 1000; /* Coloca a sidebar acima de outros elementos */
}

.sidebar h2 {
    color: #fff; /* Cor do texto do cabeçalho */
    text-align: center; /* Alinhamento central do texto */
    margin-bottom: 20px; /* Margem inferior */
}

.sidebar ul {
    list-style-type: none; /* Remove marcadores da lista */
    padding: 0; /* Remove padding */
}

.sidebar ul li a {
    padding: 15px 20px; /* Espaçamento interno dos links */
    text-decoration: none; /* Remove sublinhado dos links */
    font-size: 18px; /* Tamanho da fonte */
    color: #818181; /* Cor dos links */
    display: block; /* Faz o link ocupar toda a largura */
    transition: 0.3s; /* Transição suave para hover */
}

.sidebar ul li a:hover {
    background-color: #444; /* Cor de fundo ao passar o mouse */
    color: #f1f1f1; /* Cor do link ao passar o mouse */
}

/* Estilos para o botão off-menu */
.off-menu-btn {
    position: fixed;
    top: 20px; /* Distância do topo */
    left: 20px; /* Distância da esquerda */
    background-color: #282c34; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none; /* Remove bordas */
    padding: 12px; /* Espaçamento interno */
    font-size: 24px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para pointer */
    border-radius: 5px; /* Arredondamento nas bordas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra do botão */
    transition: 0.3s; /* Transição suave ao passar o mouse */
}

.off-menu-btn:hover {
    background-color: #444; /* Cor de fundo ao passar o mouse */
}

/* Exibe a sidebar quando ativa */
.sidebar.active {
    left: 0; /* Move a sidebar para a esquerda */
}


/* =========================== */
/* CABEÇALHO */
/* =========================== */
header {
    padding: 20px;
    background-color: rgba(243, 243, 243, 0.1);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
}

header h1 span {
    color: black;
}

/* =========================== */
/* NAVEGAÇÃO */
/* =========================== */
nav {
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none !important;
    color: black;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

nav a i {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
    vertical-align: middle; /* Alinha o ícone ao centro do texto */
}

a:hover {
    filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
}

/* =========================== */
/* DROPDOWN */
/* =========================== */
.dropbtn {
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    filter: drop-shadow(10px 10px 15px black);
}

/* =========================== */
/* FORMULÁRIO DE PESQUISA */
/* =========================== */
.form-pesquisa {
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
    width: auto; /* Mantenha uma largura fixa para a barra de pesquisa */
    overflow: hidden;
}

.campo-pesquisa {
    padding: 10px;
    width: 0; 
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: width 0.5s ease-in-out;
}

.botao-pesquisa {
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    display: none; 
}

.form-pesquisa:hover .campo-pesquisa {
    width: 300px; 
}

.form-pesquisa:hover .botao-pesquisa {
    display: inline-block; 
}

/* =========================== */
/* SEÇÕES PRINCIPAIS */
/* =========================== */
.biblioteca, .dono, .galeria, .painel {
    padding: 30px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* =========================== */
/* CONTEÚDO */
/* =========================== */
.content {
    display: flex;
    align-items: flex-start;
}

.content img {
    max-width: 200px;
    margin-right: 20px;
}

.content p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}

/* =========================== */
/* LOGO */
/* =========================== */
#logo {
    max-height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}

/* =========================== */
/* TABELA */
/* =========================== */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

thead {
    background-color: #007acc;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

th, td {
    padding: 12px 15px;
    border: none;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #d1e7fd;
    cursor: pointer;
}

/* =========================== */
/* RODAPÉ */
/* =========================== */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: auto;
}

/* =========================== */
/* SCROLL CONTAINER */
/* =========================== */
.scroll-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px;
    background-color: transparent;
    scroll-behavior: smooth;
    justify-content: space-evenly;
}

.scroll-container img {
    display: inline-block;
    height: auto;
    width: 200px;
    margin-right: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.scroll-container img:hover {
    transform: scale(1.05);
}

/* =========================== */
/* ANIMAÇÕES */
/* =========================== */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.btn-bounce:hover {
    animation: bounce 0.5s;
}

/* =========================== */
/* MEDIA QUERY */
/* =========================== */
@media (max-width: 768px) {
    header {
        padding: 15px;
        flex-direction: column;
        text-align: center;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }

    nav a {
        font-size: 16px;
    }

    body {
        font-size: 16px;
    }

    .content {
        flex-direction: column;
        text-align: center;
    }

    .content img {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .scroll-container {
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .scroll-container img {
        width: 100%;
        margin-right: 0;
    }

    .logo {
        width: auto;
        height: auto;
    }
}
